[tool.poetry]
name = "dcurves"
version = "1.0.5"
description = "A Python package for Decision Curve Analysis to evaluate prediction models, molecular markers, and diagnostic tests. For RELEASE NOTES, check RELEASE.md here: https://github.com/MSKCC-Epi-Bio/dcurves/RELEASE.md"
authors = ["shaunporwal <shaun.porwal@gmail.com>"]
readme = "docs/README.md"

[tool.poetry.dependencies]
python = "~3.11.1"
lifelines = "~0.27.4"
matplotlib = "^3.5.2"
pandas = "~1.5.3"
statsmodels = "~0.13.2"
typing = "~3.7.4.3"

[tool.poetry.group.dev.dependencies]
pytest = "~7.2.1"
jupyterlab = "~3.6.1"
pytest-cov = "^4.0.0"
black = "^23.1.0"
pylint = "^2.16.1"
tox = "^4.4.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[repositories]
pypi = {url = "https://pypi.org/"}
